.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 60px;
  border: none;
  &_small {
    width: 217px;
    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
  }
  &_regular {
    width: 250px;
    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
  }
  &_big {
    width: 290px;

    &--gold {
      background-color: $gold;
    }
    &--transparent {
      border: 2px solid rgba(255, 255, 255, 0.33);
    }
    &--centered{
      margin: 0 auto;
    }
  }
  &_text {
    @include button-text;
  }
}
